
$primary-normal:#DC9A02;
$primary-dark: black;
$primary-light: #F5E1B3;

$secondary-normal: black;
$secondary-dark: black;
$secondary-light: black;

$black-normal: black;
$black-dark:black;
$black-light: black;

$white-normal: white;
$white-dark: white;
$white-light: #fefbff;

$red-normal: #d6961d;
$red-dark: #d6961d;
$red-light:#d6961d;